header {
  @include shadow;
  display: flex;
  justify-content: center;  // Center the content horizontally
  align-items: center;      // Center vertically
  background-color: $black;
  padding: 20px 0;          // Top/bottom padding only

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;              // Space between list items
    padding: 0 30px;
    list-style: none;

    li {
      position: relative;

      a {
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 500;
        @include zindex;
        color: white;
      }

      span {
        color: $indigo;
        @include absolute;
        font-size: 50px;
        top: -20px;
        opacity: 0.3;
      }
    }
  }
}
